@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        #carouselExampleControlsNoTouching {
            height: 400px;
            width:500px;
            border-radius: 65px;
        }

        .d-block{
            height:400px;
            width: 500px;
            border-radius:65px;
        }
    </style>
</head>
<div id="carouselExampleControlsNoTouching" class="carousel slide grid-container mt-3" data-bs-touch="false" data-interval="500">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/property7.jpg" class="d-block" alt="property7" $carousel-control-width: 15%;>
        </div>
        <div class="carousel-item">
            <img src="img/property2.jpg" class="d-block" alt="property2">
        </div>
        <div class="carousel-item">
            <img src="img/property3.jpg" class="d-block" alt="property3">
        </div>
        <div class="carousel-item">
            <img src="img/property4.jpg" class="d-block" alt="property4">
        </div>
        <div class="carousel-item">
            <img src="img/property5.jpg" class="d-block" alt="property5">
        </div>
        <div class="carousel-item">
            <img src="img/property6.jpg" class="d-block" alt="property6">
        </div>
        <div class="carousel-item">
            <img src="img/property7.jpg" class="d-block" alt="property7">
        </div>
        <div class="carousel-item">
            <img src="img/car1.jpg" class="d-block" alt="car1">
        </div>
        <div class="carousel-item">
            <img src="img/car2.jpg" class="d-block" alt="car2">
        </div>

        <div class="carousel-item">
            <img src="img/car4.jpg" class="d-block" alt="car4">
        </div>
        <div class="carousel-item">
            <img src="img/car5.jpg" class="d-block" alt="car5">
        </div>

        <div class="carousel-item">
            <img src="img/car7.jpg" class="d-block" alt="car7">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>